.bg-1 {
	background: url("//gazatem.com/storage/app/media/stock-pricing-management.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-2 {
	background: url("//gazatem.com/storage/app/media/stock-pricing-management.jpg");
	background-size: cover;
}
