<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#doc_menu" style="display:none">Documentation Menu</a>
            </h4>
        </div>
        <div id="doc_menu" class="panel-collapse collapse show">

            <ul style="padding-top: 100px" class="list-unstyled">
                <li>
                    <h6>Product Management</h6>
                </li>
                <li><a href="/docs/products">Products</a></li>
                <li><a href="/docs/warehouses">Warehouses</a></li>
                <li><a href="/docs/pricing-groups">Pricing Group</a></li>
                <li><a href="/docs/stock-types">Stock Types</a></li>
                <li><a href="/docs/categories">Categories</a></li>
                <li><a href="/docs/variants">Variants</a></li>
                <li><a href="/docs/attributes">Attributes</a></li>
            </ul>

            <ul style="padding-top: 50px" class="list-unstyled">
                <li>
                    <h6>Customer Management</h6>
                </li>
                <li><a href="/docs/manage-customers">Manage Customers</a></li>
                <li><a href="/docs/customer-groups">Customer Groups</a></li>
                <li><a href="/docs/customer-api">API Access</a></li>
            </ul>

            <ul style="padding-top: 50px" class="list-unstyled">
                <li>
                    <h6>Order Management</h6>
                </li>
                <li><a href="/docs/order-process">Order Process</a></li>
                <li><a href="/docs/customer-orders">Customer Order</a></li>
                <li><a href="/docs/order-api-endpoints">API Endpoints</a></li>

            </ul>

            <ul style="padding-top: 50px" class="list-unstyled">
                <li>
                    <h6>Import Tool</h6>
                </li>
                <li><a href="/docs/import-stocks">Import Stocks</a></li>
                <li><a href="/docs/import-prices">Import Pricing</a></li>
                <li><a href="/docs/import-products">Import Products</a></li>
            </ul>

            <ul style="padding-top: 50px" class="list-unstyled">
                <li>
                    <h6>Export Tool</h6>
                </li>
                <li><a href="/docs/export-orders">Export Orders</a></li>
                <li><a href="/docs/export-stocks">Export Stocks</a></li>
                <li><a href="/docs/export-prices">Export Pricing</a></li>
                <li><a href="/docs/export-products">Export Products</a></li>
            </ul>
        </div>
    </div>
</div>