<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{title}}</title>
        <link rel="shortcut icon" href="{{root}}assets/img/favicon/favicon.ico" />

        <!--Core CSS -->
        <link rel="stylesheet" type="text/css" href="{{root}}assets/css/core.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9f5b961ee2.js" crossorigin="anonymous"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191499-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-191499-1');
        </script>

    </head>
    <body>
        {{> preloader}}
        {{> body}}
        {{> footer}}
        {{> backtotop}}
        {{> scripts}}
    </body>  
</html>
